@model DemoToSakshi.Models.Sakshi

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sakshi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.sakName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sakName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sakAge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sakAge)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.sakId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
